<html>
  <head>
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css" />
    <script src="../scripts/bookmarks.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-fluid">
      <p id="apptext"></p>
        <!-- Bookmarklet accordion -->
        <div class="panel-content">
          <div class="alert alert-info" role="alert">
            Save tickets with a personal note to refer back. These are only visible to you.☝
          </div>
          <!-- <div class="alert alert-success" role="alert" id="existingBookmark">
            <p>You've already bookmarked this one. Delete it first to save a new personal note ⛔.</p>
          </div> -->
          <div class="bookmarksForm" id="bookmarksForm">
            <div class="form-group">
              <textarea name="note" class="form-control" id="personalNote" maxlength="240" placeholder="Enter your personal note. Note: Existing bookmarks will be overridden." required></textarea>
              <h6 class="pull-right" id="count_message"></h6>
            </div>
            <div class="form-group">
              <button class="btn btn-success" id="saveBookmark" onclick="bookmarkTicket()">Save</button>
            </div>
          </div>
          <table class="table table-striped bookmarksTable" id="bookmarksTable">
            <thead class="thead-light">
                <tr>
                    <th>Ticket Subject</th>
                    <th>Personal Note</th>
                    <th>Saved At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
    </div>
    <script>
      //code to show characters remaining under textarea for bookmarks.
      var text_max = 240;
      $('#count_message').html(text_max + ' remaining');
      $('#personalNote').keyup(function() {
          var text_length = $('#personalNote').val().length;
          var text_remaining = text_max - text_length;
          $('#count_message').html(text_remaining + ' remaining');
      }); 
  
      /**
       * Fallback function to ensure character limit works in all browsers.
       */
      function maxLength(el) {	
          if (!('maxLength' in el)) {
              var max = el.attributes.maxLength.value;
              el.onkeypress = function () {
                  if (this.value.length >= max) return false;
              };
          }
      }
  
      maxLength(document.getElementById("personalNote"));
    </script>
  </body>
</html>